/*Removing and Adding Whitespace*/
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

/*Source: https://stackoverflow.com/questions/10815188/adding-whitespace-at-bottom-of-html-page*/
body {
    padding-bottom: 50px;
}

/*Navbar*/
.navbar {
    background-color: #FDE6E6;
    display: inline-block;
    text-align: center;
}

.navbar h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 28px;
    margin: auto;
    width: 75px;
    text-align: left;
    padding: 10px 0;
}

.tiaarcot a {
    text-decoration: none;
    color: black;
}

.navbarLink {
    text-align: center;
    font-size: 22px;
    padding: 5px 0;
}

.navbarLink a {
  color: black;
  text-decoration: none;
  font-family: 'Abhaya Libre', serif;
}

.navbar a:hover {
  color: #B76B6B;
}

.active a {
    color: #B76B6B;
    text-decoration: underline;
}

.aboutLink {
    margin-right: 10px;
}

.portfolioLink {
    margin-right: 10px;
}

/*General Bootstrap Alignment*/
.row  {
    text-align: center;
}

/*Homepage*/

/*Source: https://codeconvey.com/changing-words-with-css-animation/*/
.homepageSentence {
    position: relative;
    text-align: center;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 35px;
    margin-top: 50px;
}

#changeWord {
    color: #B76B6B;
    font-weight: 700;
}

#changeWord:after {
  content:"";
  animation: changeWord 5s linear infinite;
}

@keyframes changeWord {
  0% { content:"content writing"; }
  20% { content:"design"; }
  40% { content:"problem-solving"; }
  60% { content: "research"; }
  80% { content: "analytics"; }
  100% { content:"content writing"; }
}

.helloImage img {
    max-height: 664.5px;
    max-width: 405px;
}

.helloText {
    font-family: 'Encode Sans Expanded', sans-serif;
    text-align: left;
}

.helloText h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;
}

.helloText p {
    font-size: 25px;
    font-weight: 400;
}

.pageLinks {
    font-family: 'Abhaya Libre', serif;
}

.pageLinks h3 {
    font-size: 30px;
    margin-top: 50px;
}

.pageLinks img {
    max-width: 55%;
    max-height: 55%x;
    margin-bottom: 50px;
}

.homepageLink {
    text-decoration: none;
    color: black;
}

.homepageLink:hover {
    color: #B76B6B;
}


/*General Underline Styling*/
hr {
    height: 5px;
    max-width: 10%;
    background: #B76B6B;
    margin: 0 auto;
    border-color: #B76B6B;
    border-radius: 10px;
    margin-bottom: 50px;
    opacity: 100%;
}

/*General Page Title*/
.pageTitle {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    margin-top: 50px;
}

/*General Project Image Styling*/
.computer {
    width: 90%;
    height: auto;
    padding: 20px 0;
}

.tablet {
    width: 50%;
    height: auto;
    padding: 20px 0;
}

.phone {
    width: 30%;
    height: auto;
    padding: 20px 0;
}

.flyer {
    width: 50%;
    height: auto;
    padding: 20px 0;
    webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(5px 5px 5px #666666);
}

.smPost {
    width: 50%;
    height: auto;
    padding: 20px 0;
    webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(5px 5px 5px #666666);
}


.calendar {
    width: 90%;
    height: auto;
    padding: 20px 0;
    webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(5px 5px 5px #666666);
}

/*Portfolio Page*/

/*Source: https://stackoverflow.com/questions/39278076/centering-text-on-circle-button*/
.backToTop {
    color: #4D2626;
    background-color: #E3B3B3;
    border-style: solid;
    border-color: #E3B3B3;
    border-radius: 50%;
    font-size: 30px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    z-index: 1;
}

/*Source: https://stackoverflow.com/questions/34967960/button-color-after-being-clicked*/
/*Source: https://stackoverflow.com/questions/50945974/bootstrap-button-primary-stays-blue-for-a-second-when-clicked-or-active-even-wh*/
.backToTop:hover, .backToTop:focus {
    color: #4D2626;
   background-color:#FBDADA !important;
   border-color: #FBDADA !important;
   outline: none !important;
}

.portfolioButton {
  background: #B76B6B;
  border: 1px #B76B6B;
  border-radius: 10px;
  display: block;
  font-family: 'Abhaya Libre', serif;
  text-align: center;
  width: 60%;
  padding: 14px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: white;
}

.portfolioButtons a {
    text-decoration: none;
}

.portfolioButtons button:hover {
    background-color: #E3B3B3;
    transition: 0.3s;
}

.portfolioHeadings {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    margin-top: 75px;
}

.portfolioLeft {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
}

.portfolioRight {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
}

.portfolioLeft:hover {
    transform: scale(1.05);
}

.portfolioRight:hover {
    transform: scale(1.05);
}

.portfolioLeft h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.portfolioLeft h6 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 3px;
}

.portfolioLeft p {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    padding-bottom: 5px;
}

.portfolioRight h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.portfolioRight h6 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 3px;
}

.portfolioRight p {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    padding-bottom: 5px;
}

.projectLink {
    text-decoration: none;
    color: black;
}

.projectLink:hover {
    text-decoration: none;
    color: black !important;
}

/*Resume Page*/

/*Source: https://www.w3docs.com/snippets/html/how-to-embed-pdf-in-html.html*/
iframe {
     width: 100%;
     height: 500px;
}

/*About Page*/
.aboutPicture {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    display: block;
    margin: 0 auto;
}

.aboutText {
    font-family: 'Encode Sans Expanded', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-weight: 400;
}

.fact {
    margin-top: 50px;
    display: block;
}

/*source: https://stackoverflow.com/questions/35261292/bootstrap-centering-content-then-left-aligning-in-relation-to-center*/
.factText {
    font-family: 'Encode Sans', sans-serif;
    text-align: left;
    color: #B76B6B;
    font-size: 45px;
    font-weight: bold;
    padding: 30px 0;
    margin: auto;
    width: 400px;
}

.factText h2 {
    font-weight: 600;
}

.factText h3 {
    font-weight: 400;
}

.factImage img {
    width: 75%;
    height: auto;
}

.aboutButton {
  background: #E3B3B3;
  border: 1px #E3B3B3;
  border-radius: 10px;
  display: block;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 50%;
  padding: 14px;
  font-size: 20px;
  margin: 30px auto;
  color: #4D2626;
  transition: 0.5s;
}

.aboutButton:hover {
    background-color: #FFDFDF;
}

.contact {
    font-family: 'Abhaya Libre', serif;
    background-color: #B76B6B;
    color: white;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: -50px;
}

.contactHeading {
    padding: 15px 0;
}

.contactHeading h2 {
    font-size: 50px;
}

.contactInfo {
    text-align: left;
    width: 450px;
    margin: 0 auto;
}

.contactInfo h3 {
    margin: 20px 0;
}

.contact i {
    color: white;
    margin-right: 10px;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact a:hover {
    text-decoration: none;
    color: #E3B3B3;
}

/*General Project Page Guidelines*/
.backToPortfolio {
      font-family: 'Abhaya Libre', serif;
      color:  #B76B6B;
      font-size: 25px;
      margin-left: 20px;
      margin-top: 20px;
}

.projectText {
    font-family: 'Encode Sans Expanded', serif;
    font-weight: 400;
}

/*Blog Posts Page*/
.backToPortfolio a {
      font-family: 'Abhaya Libre', serif;
      color:  #B76B6B;
}

.backToPortfolio a:hover {
      font-family: 'Abhaya Libre', serif;
      color:  #E3B3B3;
}

.blogPostsLeft {
    display: block;
    background-color: #FFFAFA;
    color: #B76B6B;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
}

.blogPostsRight {
    display: block;
    background-color: #FFFAFA;
    color: #B76B6B;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 20px;
}

.blogPostsLeft:hover {
    transform: scale(1.03);
}

.blogPostsRight:hover {
    transform: scale(1.03);
}

.blogPostsLeft h5 {
    display: inline-block;
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
}

.blogPostsRight h5 {
    display: inline-block;
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
}

/*E-Books Page*/
.ebooksLeft {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.ebooksRight {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.ebooksLeft:hover {
    transform: scale(1.03);
}

.ebooksRight:hover {
    transform: scale(1.03);
}

.ebooksLeft h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.ebooksLeft h6 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 3px;
}

.ebooksRight h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.ebooksRight h6 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 3px;
}

/*Social Media Marketing for LegalSifter Page*/
.smmLegalSifterLeft {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.smmLegalSifterRight {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.smmLegalSifterLeft:hover {
    transform: scale(1.03);
}

.smmLegalSifterRight:hover {
    transform: scale(1.03);
}

.smmLegalSifterLeft h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.smmLegalSifterRight h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

/*Marketing Materials for Alpha Phi Omega*/
.mmAPOLeft {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.mmAPORight {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.mmAPOLeft:hover {
    transform: scale(1.03);
}

.mmAPORight:hover {
    transform: scale(1.03);
}

.mmAPOLeft h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.mmAPORight h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

/*Mock Responsive Website Page*/
.responsiveWebsiteLeft {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.responsiveWebsiteRight {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 25px;
}

.responsiveWebsiteLeft:hover {
    transform: scale(1.03);
}

.responsiveWebsiteRight:hover {
    transform: scale(1.03);
}

.responsiveWebsiteLeft h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.responsiveWebsiteRight h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

/*Mock City of Pittsburgh DOCP App Page*/
.DOCPAppLeft {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.DOCPAppRight {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 25px;
}

.DOCPAppLeft:hover {
    transform: scale(1.03);
}

.DOCPAppRight:hover {
    transform: scale(1.03);
}

.DOCPAppLeft h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.DOCPAppRight h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

/*Video Game Sales Page*/
.videoGameSalesLeft {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 15px;
}

.videoGameSalesRight {
    background-color: #FFFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #B76B6B;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.5s;
    margin-bottom: 25px;
}

.videoGameSalesLeft:hover {
    transform: scale(1.03);
}

.videoGameSalesRight:hover {
    transform: scale(1.03);
}

.videoGameSalesLeft h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

.videoGameSalesRight h5 {
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: #B76B6B;
    padding-top: 5px;
    padding-bottom: 3px;
}

